<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Warishita</title>
    <%= favicon_link_tag('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
			<div class="container">
				<ul class="auth-menu">
          <li class="text-center hidden-xs">
            <a href="/dashboard" class="btn-left"><i class="fas fa-home"></i>マイページ</a>
          </li>
          <li class="text-center hidden-xs">
            <a href="/signout" class="btn-right"><i class="fas fa-sign-out-alt"></i>ログアウト</a>
          </li>
				</ul>
			</div>
      <div class="container">
        <div id="site-logo">
          <a href="/"><%= image_tag('logo_nasu.png', :class => "img-responsive" ,:alt => "Logo") %></a>
        </div>
      </div>
	  </div>
    <div class="navbar navbar-default hidden-sm">
      <div class="container">
        <ul class="nav navbar-nav list-inline">
					<li>
            <a href="/contents/news">
              <i class="fas fa-bullhorn fa-2x"></i>
              <div class="navbar-text">NEWS</div>
            </a>
          </li>
          <li>
            <a href="/pages/update">
              <i class="fas fa-newspaper fa-2x"></i>
              <div class="navbar-text">WHAT'S NEW</div>
            </a>
          </li>
          <li>
            <a href="/profiles">
              <i class="fas fa-id-card fa-2x"></i>
              <div class="navbar-text">PROFILE</div>
            </a>
          </li>
          <li>
            <a href="/discography">
              <i class="fas fa-music fa-2x"></i>
              <div class="navbar-text">DISCOGRATPY</div>
            </a>
          </li>
          <li>
            <a href="/products">
              <i class="fas fa-gift fa-2x"></i>
              <div class="navbar-text">GOODS</div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div id="content" class="container">
      <%= yield %>
    </div>

    <footer>
      <div id="footer">
        <div class="container footer-text">
            <div>背景やロゴはすべて自作です</div>
            <div>© 2019 WARISHITA Powered by hogesako</div>
        </div>
      </div>
    </footer>
  </body>
</html>
